<!DOCTYPE HTML>

<html>

<head>
	<title>Login</title>
</head>

<body>
	<div class="container">
		<h1>Login</h1>
		<!-- This is where our form will go. -->
		<form method="POST" action="{{ url_for('login') }}" novalidate>
			{{ form.csrf_token }}
			{{ form.hidden_tag() }}
			<div>
				{{ form.username.label }}<br>
				{{ form.username(size=32) }}<br>
			</div>
			<div>
				{{ form.password.label }}<br>
				{{ form.password(size=32) }}<br>
				{% for error in form.password.errors %}
				<span style="color: red;">{{error}}</span>
				{% endfor %}
			</div>
			<div>
				{{ form.submit() }}
			</div>
		</form>
	</div>
</body>

</html>